{% extends "base.html" %} {% block title %} Stocks and Investments {% endblock %}
<!--above is tab title -->
{% block content%}

<h1 align="center"> Stock Portfolio </h1>
<!--<div class="container-fluid">-->
<!--  ...-->
<!--</div>-->

<div align="center">
  <div class="card-group">
    <div class="card h=100" style="width: 18rem;" width="100px">
      <img src="/static/$TSLA.png" class="card-img-top" alt="$TSLA logo">
      <div class="card-body">
        <h5 class="card-title">Tesla Portfolio</h5>
        <p class="card-text">Take a look at the Tesla financials </p>
        <a href="tesla_charts" class="btn btn-primary">Enter TSLA</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img src="/static/pltr.png" class="card-img-top" alt="PLTR logo">
    <div class="card-body">
      <h5 class="card-title">Palantir Portfolio</h5>
      <p class="card-text">Take a look at the Palantir financials </p>
      <a href="pltr_charts" class="btn btn-primary">Enter PLTR</a>
    </div>
  </div>
  </div>
</div>


</div>




  {% endblock %}
